<div class="img-background">
  <div class="border border-success rounded col-md-8 offset-md-2">
    <h3>Nuevo Registro</h3>
    <form [formGroup]="form" (submit)="onSignIn(form)">
      <div class="form-group">
        <label for="username">Usuario:<span class="text-danger">*</span></label>
        <input type="text" formControlName="username" (blur)="checkUser(form.value.username)" class="form-control"
               id="username"
               [ngClass]="{'border-danger': !form.controls['username'].valid || showError}"
               placeholder="Introduce el usuario"/>
        <small class="form-text text-danger text-left"
               *ngIf="form.get('username').touched && form.get('username').hasError('required')">
          Por favor introduzca el usuario
        </small>
        <small class="form-text text-danger text-left"
               *ngIf="form.get('username').touched && showError">
          El usuario ya existe
        </small>
      </div>

      <div class="form-group">
        <label for="email">Correo:<span class="text-danger">*</span></label>
        <input type="email" formControlName="email" class="form-control"
               [ngClass]="{'border-danger': !form.controls['email'].valid}" id="email"
               placeholder="example@example.com"/>
        <small class="form-text text-danger text-left"
               *ngIf="form.get('email').touched && form.get('email').hasError('required')">Por favor introduzca el email
        </small>
        <small class="form-text text-danger text-left"
               *ngIf="form.get('email').touched && form.get('email').hasError('email')">El email no es correcto
        </small>
      </div>

      <div class="form-group">
        <label for="password">Clave:<span class="text-danger">*</span></label>
        <input type="password" formControlName="password" class="form-control"
               [ngClass]="{'border-danger': !form.controls['password'].valid}" id="password"
               placeholder="Introduce la contraseña"/>
        <small class="form-text text-danger text-left"
               *ngIf="form.get('password').touched && form.get('password').hasError('required')">
          Por favor introduzca la contraseña
        </small>
      </div>

      <div class="form-group">
        <label for="repeatPassword">Repite la clave:<span class="text-danger">*</span></label>
        <input type="password" formControlName="repeatPassword" class="form-control"
               [ngClass]="{'border-danger': !form.controls['repeatPassword'].valid}" id="repeatPassword"
               placeholder="Repite la contraseña"/>
        <small class="form-text text-danger text-left"
               *ngIf="form.get('repeatPassword').touched && form.get('repeatPassword').hasError('required')">
          Por favor introduzca la contraseña
        </small>
        <small class="form-text text-danger text-left"
               *ngIf="form.get('repeatPassword').touched && form.value.repeatPassword !== form.value.password">
          Las contraseñas no coinciden
        </small>
      </div>

      <div class="form-group">
        <label for="birthdate">Fecha de nacimiento</label>
        <input type="date" formControlName="birthdate" class="form-control" id="birthdate"
               placeholder="Fecha de nacimiento"/>
      </div>

      <div class="text-center">
        <button type="submit" [disabled]="form.invalid" id="btnRegistro" class="btn btn-primary">Crear usuario</button>
      </div>
    </form>
  </div>
</div>
