<div class="img-background">
  <div class="border border-success rounded col-md-8 offset-md-2">
    <form [formGroup]="form" (submit)="onLogin(form)">
      <div class="form-group">
        <label for="username">Usuario:<span class="text-danger">*</span></label>
        <input formControlName="username" type="text" class="form-control" id="username"
               [ngClass]="{'border-danger': !form.controls['username'].valid}"
               placeholder="Introduce el usuario">
        <small class="form-text text-danger text-left"
               *ngIf="form.get('username').touched && form.get('username').hasError('required')">
          Por favor introduzca un usuario
        </small>
      </div>
      <div class="form-group">
        <label for="password">Clave:<span class="text-danger">*</span></label>
        <input formControlName="password" type="password" class="form-control" id="password"
               [ngClass]="{'border-danger': !form.controls['password'].valid}"
               placeholder="Introduce la contraseña">
        <small class="form-text text-danger text-left"
               *ngIf="form.get('password').touched && form.get('password').hasError('required')">
          Por favor introduzca la
          contraseña
        </small>
      </div>
      <div class="text-center">
        <button type="submit" [disabled]="form.invalid" id="btnLogin" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>
