<div class="img-background">
  <div class="border border-success rounded col-md-8 offset-md-2">
    <form [formGroup]="form" (submit)="onLogin(form)">
      <div class="form-group">
        <label for="username">Usuario:<span class="text-danger">*</span></label>
        <input formControlName="username" type="text" class="form-control"
               [ngClass]="{'border-danger': !form.controls['username'].valid}" id="username"
               placeholder="Introduce el usuario">
      </div>
      <div class="form-group">
        <label for="password">Clave:<span class="text-danger">*</span></label>
        <input formControlName="password" type="password" class="form-control"
               [ngClass]="{'border-danger': !form.controls['password'].valid}" id="password"
               placeholder="Introduce la contraseña">
      </div>
      <div *ngIf="showError" class="text-danger">
        Los campos con * son obligatorios
      </div>
      <div class="text-center">
        <button type="submit" [disabled]="form.invalid" id="btnLogin" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>
