<div class="container">

  <div class="row">
    <h2 class="text-center">Reserva tu pista de pádel</h2>
    <div class="col-md-8 offset-2">
      <form>
        <fieldset class="border">
          <legend>Fecha para gestionar una reserva</legend>
          <label>Seleccione una fecha:<span class="text-danger">*</span></label>
          <my-date-picker name="model" [options]="myDatePickerOptions"
                          [(ngModel)]="mydate" required></my-date-picker>
          <button class="btn btn-primary" (click)="getAllReservations()">Buscar</button>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="container">
    <h2 class="text-center">Reservas realizadas por todos los usuarios en la fecha seleccionada</h2>

    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="text-center card-header">Pista 1</div>
          <div class="card-body">
            <ul *ngIf="allReservationsByCourtUnavailable && isAvailable(allReservationsByCourtUnavailable[0])"
                class="list-group list-group-flush">
              <li *ngFor="let hour of allReservationsByCourtUnavailable[0].hours"
                  class="text-center list-group-item">{{hour}}</li>
            </ul>
            <label class="text-center text-danger"
                   *ngIf="allReservationsByCourtUnavailable && isUnavailable(allReservationsByCourtUnavailable[0])">No
              hay reservas!!</label>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="text-center card-header">Pista 2</div>
          <div class="card-body">
            <ul *ngIf="allReservationsByCourtUnavailable && isAvailable(allReservationsByCourtUnavailable[1])"
                class="list-group list-group-flush">
              <li *ngFor="let hour of allReservationsByCourtUnavailable[1].hours"
                  class="text-center list-group-item">{{hour}}</li>
            </ul>
            <label class="text-center text-danger"
                   *ngIf="allReservationsByCourtUnavailable && isUnavailable(allReservationsByCourtUnavailable[1])">No
              hay reservas!!</label>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="text-center card-header">Pista 3</div>
          <div class="card-body">
            <ul *ngIf="allReservationsByCourtUnavailable && isAvailable(allReservationsByCourtUnavailable[2])"
                class="list-group list-group-flush">
              <li *ngFor="let hour of allReservationsByCourtUnavailable[2].hours"
                  class="text-center list-group-item">{{hour}}</li>
            </ul>
            <label class="text-center text-danger"
                   *ngIf="allReservationsByCourtUnavailable && isUnavailable(allReservationsByCourtUnavailable[2])">No
              hay reservas!!</label>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="text-center card-header">Pista 4</div>
          <div class="card-body">
            <ul *ngIf="allReservationsByCourtUnavailable && isAvailable(allReservationsByCourtUnavailable[3])"
                class="list-group list-group-flush">
              <li *ngFor="let hour of allReservationsByCourtUnavailable[3].hours"
                  class="text-center list-group-item">{{hour}}</li>
            </ul>
            <label class="text-center text-danger"
                   *ngIf="allReservationsByCourtUnavailable && isUnavailable(allReservationsByCourtUnavailable[3])">No
              hay reservas!!</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form>
        <fieldset class="border">
          <legend>Mis reservas</legend>
          <table class="table" *ngIf="reservationsByLoggedUser.length > 0">
            <thead>
            <tr>
              <th scope="col">Pista</th>
              <th scope="col">Fecha</th>
              <th scope="col">Hora</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reservation of reservationsByLoggedUser">
              <th scope="row">{{reservation.courtId}}</th>
              <td>{{reservation.rsvday}}</td>
              <td>{{reservation.rsvtime}}</td>
            </tr>
            </tbody>
          </table>
          <label class="text-center text-danger" *ngIf="reservationsByLoggedUser.length == 0">No hay reservas!!</label>
        </fieldset>
      </form>
    </div>

    <div class="col-md-6">
      <fieldset class="border">
        <legend>Realizar reservas</legend>
        <div>
          <label for="court">Pista: </label>
          <select class="form-control" id="court" (change)="selectHours($event.target.value)">
            <option>Seleccione una pista</option>
            <option *ngFor="let court of allReservationsByCourtAvailable" class="text-center">{{court.id}}</option>
          </select>
        </div>

        <div>
          <div *ngIf="courtSelected && courtSelected.hours && courtSelected.hours.length > 0">
            <label>Hora: </label>
            <select name="hourSelected"
                    [(ngModel)]="hourSelected" class="form-control">
              <option>Seleccione una hora</option>
              <option *ngFor="let hour of courtSelected.hours">{{hour}}</option>
            </select>
          </div>

          <label *ngIf="courtSelected && courtSelected.hours && courtSelected.hours.length === 0" class="text-center text-danger"> No hay horas disponibles</label>
        </div>
        <button class="btn btn-primary" (click)="doReservation()">Reservar</button>
      </fieldset>

    </div>
  </div>

</div>

